<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Layout Básico</title>
  </head>

  <body>
    <div class="contenedor">
      <header>
        <nav>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>
      </header>
      <section class="main">
        <div class="imagen">
          <img src="imagenPortada.jpg" alt="" />
        </div>
        <section class="posts">
          <article>
            <h2>Titulo de los artículos</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque
              corrupti facere delectus doloremque aut architecto velit veritatis
              omnis placeat, quaerat veniam, voluptatem eligendi tempora
              repudiandae impedit? Accusantium, sequi fugiat. Lorem ipsum dolor
              sit amet, consectetur adipisicing elit. Nostrum, dolor. Nam velit
              facilis deleniti amet praesentium ipsam nemo, sed assumenda
              tenetur dolor? Sapiente sequi maxime voluptatem consequatur
              possimus quia ipsa.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque
              corrupti facere delectus doloremque aut architecto velit veritatis
              omnis placeat, quaerat veniam, voluptatem eligendi tempora
              repudiandae impedit? Accusantium, sequi fugiat. Lorem ipsum dolor
              sit amet, consectetur adipisicing elit. Nostrum, dolor. Nam velit
              facilis deleniti amet praesentium ipsam nemo, sed assumenda
              tenetur dolor? Sapiente sequi maxime voluptatem consequatur
              possimus quia ipsa.
            </p>
          </article>
        </section>
      </section>
      <aside>
        <div class="widget">
          <h3 class="titulo">Artículos Destacados</h3>
          <ul>
            <li>
              <a href="#">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</a
              >
            </li>
            <li>
              <a href="#">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</a
              >
            </li>
            <li>
              <a href="#">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</a
              >
            </li>
            <li>
              <a href="#">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</a
              >
            </li>
            <li>
              <a href="#">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.</a
              >
            </li>
          </ul>
        </div>
        <div class="widget">
          <h3 class="titulo">Información</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero odio
            architecto iure eveniet similique, voluptatibus nam dolore impedit
            necessitatibus, consequatur iusto deserunt veritatis molestiae
            temporibus ratione! Facilis libero cum et. Lorem, ipsum dolor sit
            amet consectetur adipisicing elit. Sit eos quidem, soluta nesciunt
            quibusdam hic consequuntur quasi vero dolorum fuga maxime repellat
            voluptas omnis, quia quo dolorem sint distinctio eveniet.
          </p>
        </div>
      </aside>
      <footer>
        <p>Pie de página.</p>
      </footer>
    </div>
  </body>
</html>
